bin/
include/
lib/
lib64/
pyvenv.cfg
venv/
ENV/
.venv/
.env
web/.env
bc_core/key.json
*.json


__pycache__/
web/__pycache__/
*.py[cod]
*$py.class

web/database/__pycache__/
web/routes/__pycache__/
web/database/project_database.sqlite

.DS_Store
Thumbs.db
